.input-title{

    margin: 0;
    margin-bottom: 5px;
    width: 100%;
    text-align: right;
    font-size: 16px;
}

.input-feaild{

    max-width: none !important;
    width: 100%;
}

.invalid{

    border: 1px solid #F00 !important;
}

small{

    color: #F00;
}